body {
  font-family: "Roboto";
}

.table-head {
  color: white !important;
  background-color: rgb(44, 49, 54) !important;
}

.numbers {
  color: rgb(70, 68, 68) !important;
  font-size: 20px;
}

.color-black {
  color: black;
}

.new-deaths {
  background-color: red;
  color: white !important;
}

.color-white {
  color: white;
}

.new-cases {
  background-color: #3333ff;
  color: white !important;
}

.MuiFab-secondary {
  background-color: rgb(35, 75, 194) !important;
}

.PrivateTabIndicator-colorSecondary-9 {
  background-color: whitesmoke !important;
}

.switch-tab {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.no_match {
  text-align: center !important;
  font-size: 18px !important;
}

.searchCountry {
  display: flex;
  flex-wrap: nowrap;
  background-color: royalblue;
  opacity: 0.9;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 264px;
  padding: 5px;
  margin-right: 2px;
}

.searchIcon {
  margin: 4px 0px -5px 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.viewGraphs {
  display: inline-block;
  margin-bottom: 10px;
  align-self: flex-end;
}

.searchInput {
  background-color: royalblue;
  border: none;
  display: inline-block;
  padding: 5px;
  height: 100%;
  width: 100%;
  font-size: 18px;
  outline: 0;
  color: whitesmoke;
  border-radius: 5px;
}

::placeholder {
  color: whitesmoke;
}

.country-load {
  text-align: center;
  font-size: 25px;
  margin-top: 10%;
  color: rgb(31, 80, 126);
}

.line-chart {
  max-width: 700px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-chart {
  max-width: 800px;
}

.graph-section {
  max-width: 700px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#graph {
  width: 200px;
  text-align: center;
}

.select-country {
  font-size: 25px;
  color: rgb(42, 106, 165);
}